a, a:hover, a:focus, a:active {
    outline: 0;
}

.BlueModena.Seamap {
    background-image: url("/MarED/javax.faces.resource/images/background-3.png.xhtml?ln=bal-layout");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

.BigTopic {
    font-size: 16px;
}

#logo img {
    height: 40px;
    margin: 0px 0px 0px 5px;
}

#logo .logo-text {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
    line-height: 40px;
    margin: 0 10px;
}

#layout-topbar,
#layout-topbar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;    
}

.layout-menu > li > a {
    padding: 8px 6%;
    border-left: 3px solid transparent;
}

.layout-menu > li:first-child > a {
    margin-top: 10px;
    display: inline-block;
}

.layout-menu > li:last-child > a {
    margin-bottom: 10px;
    display: inline-block;
}

#top-menu .active-menu > li > a {
    padding: 8px 15px;
    width: 100%;
}

#top-menu .active-menu > li:first-child > a {
    margin-top: 10px;
    display: inline-block;
}

#top-menu .active-menu > li:last-child > a {
    margin-bottom: 10px;
    display: inline-block;
}

#top-menu > li > a.link {
    font-size: 14px;
    border-radius: 4px;
    text-align: center;
    padding: 8px 8px;
    width: inherit;
    height: inherit;
    background-color: rgba(42, 42, 42, 0.2);
}

#top-menu > li > a.link:hover, #top-menu > li > a.link:focus {
    background-color: rgba(42, 42, 42, 0.3);
}

@media (max-width: 480px) {
    #top-menu > li > a.link {
        font-size: 16px;
        text-align: left;
        padding: 15px;
        width: auto;
        height: auto;
        cursor: pointer;
        display: block;
        color: #546e7a;
        border-radius: 0px;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
}
@media (min-width: 480px) and (max-width: 640px) {
    #top-menu > li > a.link {
        font-size: 16px;
        text-align: left;
        padding: 15px;
        width: auto;
        height: auto;
        cursor: pointer;
        display: block;
        color: #546e7a;
        border-radius: 0px;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    #top-menu > li > a.link {
        font-size: 16px;
        text-align: left;
        padding: 15px;
        width: auto;
        height: auto;
        cursor: pointer;
        display: block;
        color: #546e7a;
        border-radius: 0px;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
}



.SoftYellow {
    color: #FBE880;
}

.SoftYellowBack {
    background-color: #FBE880;
}

.ui-panelgrid-content .ui-datalist .ui-datalist-content .ui-datalist-data {
    padding: 10px;
}

.ui-panelgrid-content .ui-datalist .ui-datalist-content .ui-datalist-data .ui-datalist-item:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.GreenLight {
    color: #63DA68;
}

.RedLight {
    color: #EA625F;
}

/* Large desktop */
@media (min-width: 960px){
}
 
@media (min-width: 960px) and (max-width:1200px){
    .Responsive75{width:75%; float:left; margin-left:0px !important; margin-right:0px !important;}
    .Responsive25{width:25%; float:left; margin-left:0px !important; margin-right:0px !important;}
} 
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 640px) and (max-width: 960px) {
    .Responsive75{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
    .Responsive25{width:25%; float:left; margin-left:0px !important; margin-right:0px !important;}
    .Responsive75 + .Responsive25 {width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
}
 
/* Landscape phone to portrait tablet */
@media (min-width:480px) and (max-width: 640px) {	
    .Responsive75{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
    .Responsive25{width:50%; float:left; margin-left:0px !important; margin-right:0px !important;}
    .Responsive75 + .Responsive25 {width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
}
 
/* Portrait phones and down */
@media (max-width: 480px) {
    .Responsive75{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
    .Responsive25{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
}
