.alignRight{
    text-align: right;
}

.fixedWidth110{
    width: 110px;
}

.fixedWidth500{
    width: 500px !important;
}

.fixedWidth350{
    width: 350px !important;
}

.marright20{
    margin-right: 20px;
}

.fright{
    float: right;
}

.inblock{
    display: inline-block;
}

.largeFont{
    font-size: larger !important;
}

.ui-panelgrid.noPadding .ui-grid-responsive .ui-panelgrid-cell {
    border: 0 none;
    padding: 0px;
} 

.container{
    min-height: 70%;
    min-height: -webkit-calc(100% - 186px);
    min-height: -moz-calc(100% - 186px);
    min-height: calc(100% - 186px);
}

.noCorner {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
}

.noMargin{
    margin: 0;
}
.Container50{ 
    width:50%; 
    float:left;
}
.border-box{
    box-sizing: border-box !important;
}
.width100{
    width: 100% !important;
}
.width90{
    width: 90% !important;
}
.width50{
    width: 50% !important;
}
.MarAuto{
    margin: auto;
}
.height40{
    height: 40px;
}
.height15{
    height: 15px;
}
.height10{
    height: 10px;
}
.height5{
    height: 5px;
}
.floatRight{
    float: right;
}

.ui-widget {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
}

.MaxWidthProfil{
    max-width: 400px;
}

.MaxWidth1400{
    max-width: 1200px;
}

.MaxWidth800{
    max-width: 800px;
}

.Card{
    padding: 20px;
    display: block;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-family: 'robotoregular';
    color: #546e7a;
}

.EmptyBox5{ display:block; width:100%; height:5px; overflow:hidden;}
.EmptyBox10{ display:block; width:100%; height:10px; overflow:hidden;}
.EmptyBox20{ display:block; width:100%; height:20px; overflow:hidden;}
.EmptyBox30{ display:block; width:100%; height:30px; overflow:hidden;}
.EmptyBox40{ display:block; width:100%; height:40px; overflow:hidden;}
.EmptyBox50{ display:block; width:100%; height:50px; overflow:hidden;}
.EmptyBox60{ display:block; width:100%; height:60px; overflow:hidden;}
.EmptyBox70{ display:block; width:100%; height:70px; overflow:hidden;}
.EmptyBox80{ display:block; width:100%; height:80px; overflow:hidden;}
.EmptyBox90{ display:block; width:100%; height:90px; overflow:hidden;}
.EmptyBox100{ display:block; width:100%; height:100px; overflow:hidden;}

.TextAlignCenter{
    text-align: center;
}

.innerBackground{
    background-image: url(bgMug2.png);
}

.outerBackground{
    background-color: #000000;
}

.profilePanel{
    background-image: none;
    background-color: black;    
}

.noBackground{
    background-image: none;
    background-color: transparent;   
}

body{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1em;
    color: white;
}

.padding03em{
    padding: 0.5em;
}

.noBorder{
    border: 0px;
}
