/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.01.2017, 20:36:40
    Author     : Tobi
*/
.border-box{
    box-sizing: border-box !important;
}
.width100{
    width: 100% !important;
}
.width50{
    width: 50% !important;
}
.MarAuto{
    margin: auto;
}
.height15{
    height: 15px;
}
.floatdown{
    float: bottom;
}
.Card{
  padding: 20px;
  display: block;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  font-family: 'robotoregular';
  color: #546e7a;
}

.ShadowEffect {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(43, 59, 93, 0.4);
  -moz-box-shadow: 0px 1px 3px 0px rgba(43, 59, 93, 0.4);
  box-shadow: 0px 1px 3px 0px rgba(43, 59, 93, 0.4);
}
